backend haproxy_stats_backend
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats realm HAProxy\ Statistics
    stats show-node
    stats show-legends
    stats hide-version
