global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    log 127.0.0.1 local2
    chroot      /var/lib/haproxy
    maxconn     4000
    user        haproxy
    group       haproxy
    tune.ssl.default-dh-param 2048

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats mode 660 level admin
    stats timeout 30s

    # TLS session cache
    tune.ssl.cachesize 100000
    tune.ssl.lifetime 600

    # generated 2026-02-20, Mozilla Guideline v5.7, HAProxy 2.8.16, OpenSSL 3.0.13, intermediate config
    # https://ssl-config.mozilla.org/#server=haproxy&version=2.8.16&config=intermediate&openssl=3.0.13&guideline=5.7
    # intermediate configuration
    ssl-default-bind-curves prime256v1:secp384r1
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options prefer-client-ciphers ssl-min-ver TLSv1.2 no-tls-tickets

    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305
    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
    mode    http
    log     global
    option  dontlognull
    option  http-server-close
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect 10s
    timeout client  1m
    timeout server  1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

    # Custom log format
    log-format "%ci:%cp [%t] %ST \"%r\" \"%[capture.req.hdr(0)]\" \"%[capture.req.hdr(1)]\""
